/*
COLOR PALETTE
--raisin-black: #272838ff;
--flax: #f3de8aff;
--coral-pink: #eb9486ff;
--cool-gray: #7e7f9aff;
--seasalt: #f9f8f8ff;
--almost white:#F7FFF7;

Font----'Ysabeau Infant', sans-serif;
*/

/* Global Styles
----------------------------------*/
html {
	box-sizing: border-box;
}
*,*:before, *:after{
	box-sizing:inherit;
}

body{
	  color: #272838ff;
	  margin:0;
	  padding: 0;
	  font-family: 'Ysabeau Infant', sans-serif;
		font-size: 25px;
		line-height:1.5;
	text-align: center;
}


img{
  width: 400px;
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.btn{
	  background:rgb(255, 255, 255);
	  text-decoration:none;
	  padding:10px;
	  border-radius:8px;
	  display:inline-block;
  }

a{
	color:#7e7f9aff;
}
a:hover{
	text-decoration:none;
}
h1{
	font-size:80px;
	line-height:1;
}
h2{
	font-size:30px;
}
h1,h2 {
	font-family: 'Amatic SC', cursive;
	font-weight:500;
	margin:0;
}


.content-wrap {
	max-width: 600px;
	width:85%;
	margin: 0 auto;
	padding:60px;
	
}

h3{
	font-family: 'Amatic SC', cursive;
	font-size:40px;
	margin-bottom:0;
	letter-spacing: 0.1em;
	word-spacing: 5px;
}

.item-details h3+p {
	font-style:italic;
}

.item-details h3~p {
	margin:0;
}

.divider > section {
		border-bottom:2px dashed #eb9486ff;
	padding: 0 0 50px 0;
}

.divider > section:last-of-type{
	border-style:none;
}

/* .floating-menu {
    font-family: sans-serif;
    background: #eb9486ff;
    padding: 5px;;
    width: 200px;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a, 
  .floating-menu h3 {
    font-size: 1px;
    display: block;
    margin: 0 0.5em;
    color: rgb(255, 255, 255);
  } */


/* Profile
----------------------------------*/
header{
background: #eb9486ff;
}

header h1 {
	color:#000000;
	letter-spacing: 0.1rem;
	word-spacing: 15px;
	font-weight:500;
	
	}

header a {
		color:#ffffff;
		font-size:25px;
		
		}

header p {
	color:#ffffff;
	font-size:25px;
	text ;
	}

header img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		  }

 .invologo{
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			width: 10%;
			height: 10%;
			  }

/* Intro
----------------------------------*/
.intro p {
	color: rgb(0, 0, 0);
	  margin:0;
	padding-top: 20px;
	padding-bottom: 70px;
	font-family: 'Ysabeau Infant', sans-serif;
	font-size: 25px;
		line-height:1.5em;
}

.intro .content-wrapintro{
	max-width: 600px;
	width:85%;
	margin: 0 auto;
	padding-top:60px;
	padding-bottom: 0px;
	padding-left:60px;
	padding-right:60px;
	
}

.content-wrapintro {
	border-bottom:2px dashed #eb9486ff;
    padding:0 0 50px 0;
}
.intro img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	  }
/* Principles
----------------------------------*/
.principles {
	background:rgb(255, 255, 255);
}

.principles a{
	
}
.principles .btn{
  color:#cb6c32;
	background:rgb(255, 255, 255);
	text-decoration:none;
	padding:8px;
	border-radius:8px;
	display:inline-block;
}

.content-wrap .btn{
	color:#cb6c32;
	  background:rgb(255, 255, 255);
	  text-decoration:none;
	  padding:3px;
	  border-radius:10px;
	  display:inline-block;
  }

.principles .btn:hover {
	background:rgba(235,148,134,80%);
}

.principle-item {
	/* overflow:hidden; */
}

.principle-item h3,h4 {
	text-align: center;
	}

.principle-item h3 {
	margin-top:0;
}

.principle-item p {
	margin:0;
	padding: 0;
	font-family: 'Ysabeau Infant', sans-serif;
	font-size: 25px;
	line-height:1.5em;
}


/* Conclusion
----------------------------------*/

.conclusion p {
	color: rgb(0, 0, 0);
	margin:0;
	padding-top: 0px;
	padding-bottom: 10px;
	font-family: 'Ysabeau Infant', sans-serif;
	font-size: 25px;
		line-height:1.5em;
}

.conclusion .content-wrapconclusion{
	max-width: 600px;
	width:85%;
	margin: 0 auto;
	padding-top:30px;
	padding-bottom: 30px;
	padding-left:60px;
	padding-right:60px;
	
}

.content-wrapconclusion {
	border:2px dashed #eb9486ff;
	border-radius: 10%;
    padding:25px 0;
}

/* Team */
.team .content-wrap{padding-top: 0;}

	  .column {
		background-color: #ffffff;
		float: left;
		width: 30%;
		padding: 10px;
	  }
	  
	  /* Clear floats after the columns */
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }

	/* Footer
----------------------------------*/
footer {
background:  #7e7f9aff;
	color:#F7FFF7;
	background-size:100%;
	padding: 20px 0;
}



	footer a{
			color:#F7FFF7;
		}

.footerbtn{
		color:#cb6c32;
		  background:rgb(255, 255, 255);
		  text-decoration:none;
		  padding:10px;
		  border-radius:8px;
		  display:inline-block;
	  }


/* Responsive
----------------------------------*/
@media screen and (min-width:750px){
	header, footer {
			text-align: center;
	}
.principles-item img{
	float:center;
	margin-right: 2=30px;
	}

.contact-list {
	display:flex;
	justify-content: center;
	}
}

@media screen and (max-width:749px){
	
	header img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		  }


	h1{
		font-size:50px;
		line-height:0.8em;
		margin-bottom:20px;
		text-align: center;
	}

	h2{
		font-size:40px;
		   line-height:1
	   } 

    h3{
		   font-family: 'Amatic SC', cursive;
		   font-size:40px;
		   margin-bottom:0;
		   letter-spacing: 0.1em;
		   word-spacing: 5px;
   }	

   header p {text-align: center;}
	  
	.content-wrap {
		max-width: 600px;
		width:95%;
		margin: 0 auto;
		padding:0 30px 30px;
	}

	.intro .content-wrapintro{
		max-width: 600px;
		width:95%;
		margin: 0 auto;
		padding-top:60px;
		padding-bottom: 20px;
		padding-left:0;
		padding-right:0;
		border-bottom: 2px dashed #eb9486ff;
	}


	.principle-item p {
		margin:40px 0 0 0;
		padding: 0;
		font-family: 'Ysabeau Infant', sans-serif;
		font-size: 25px;
			line-height:2em;
	}
	.conclusion .content-wrapconclusion{
		max-width: 600px;
		width:95%;
		margin: 0 auto;
		padding-top:30px;
		padding-bottom: 30px;
		padding-left:30px;
		padding-right:30px;
		
	}
	.conclusion .content-wrapconclusion h3{
		margin-top: 0;
	}
	
	img{
		width:100%;
		float:center;
		margin-right: 2=30px;
		}


	.intro img {
			display: block;
			float: center
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			  }	
	


	 .column {
				background-color: #ffffff;
				float: left;
				width: 60%;
				padding: 10px;
				height: 200px 
			 }
  
	.contact-list a {
		padding:7px;}
}
