---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>1. Do No Harm</h2>
  <p>Primum non nocere (First, do no harm): This is a key principle in medical ethics and serves as a reminder to healthcare professionals that their primary responsibility is to avoid causing harm to patients.</p>

  <h2>2. Universal Primary Care</h2>
  <p>All patients have access to care. Healthcare is universal and a right. "Everybody in, nobody out." - Right Care Alliance</p>

</div>
